body{
  font-family: sans-serif, cursive; 
  text-align: center;
  margin-top: 150px;
  background-color: #EA9999;
}
button{
  background-color: #F0C807;
  color: green;
  padding: 60px 50px;
  text-align: center;
  font-size: 40px;
  margin: 60px 90px;
  cursor: pointer;
}
@media (max-width: 600px) {
  body{
    background-color: lightgray;
  }
  button{
    width: 100%;
  }
}
@keyframes demo {
  from {background-color: red;}
  to {background-color: yellow;}
}
button {
  animation-name: demo;
  animation-duration: 4s;
}
