body{
  font-family: sans-serif, cursive; 
  text-align: center;
  margin-top: 1500px;
  background-color: #EA9999;
}
button{
  background-color: #F0C807;
  color: green;
  padding: 600px 500px;
  text-align: center;
  font-size: 400px;
  margin: 600px 900px;
  cursor: pointer;
}
